<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href="https://fonts.googleapis.com/css?family=Orbitron:400,500,700,900" rel="stylesheet">
  <title>Direct Derivatives - Multi-Asset Brokerage e tecnologia</title>

  <meta name="description" content="">
  <meta name="theme-color" content="#ffc13b">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/apple-touch-icon-114x114.png">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="banner">
  <div class="banner-inner">
    <div class="header">
      <div class="container">
        <div class="clear-m">
          <a class="logo left-m" href="/"><span class="sr">Direct Derivatives</span></a>
          <div class="navigation right-m">
            <ul class="menu">
              <li class="menu-item">
                <a href="#about">CHI SIAMO</a>
              </li>
              <li class="menu-item">
                <a href="#services">COSA FACCIAMO</a>
              </li>
              <li class="menu-item">
                <a href="#work">CHI SERVIAMO</a>
              </li>
              <li class="menu-item">
                <a href="#clients">PIATTAFORME</a>
              </li>
              <li class="menu-item">
                <a href="https://backoffice.directfx.com">LOGIN</a>
              </li>
              <li class="menu-item">
                <a href="#contact">SUPPORTO</a>
              </li>
              <li class="menu-item">
                <a href="#footer">🌐[IT]</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container pad-top-30 pad-top-60-m">
      <div class="pad-top-50-m pad-bottom-50-m">
        <h1 class="yellow">
          <span class="banner-heading-text-1">ACCESSO </span>
          <span class="banner-heading-text-2">DIRETTO </span>
          <span class="banner-heading-text-3">AL MERCATO.</span>
        </h1>
        <p class="fs-4 no-margin pad-top-10 pad-bottom-40 col-10-m no-float-m center-m col-7-l no-float-l center-l banner-text-1">
           Accesso diretto a 75 scambi e piscine di liquidità a portata di mano.
        </p>
        <div>
          <span class="banner-button-1 block inline-block-m pad-5-m">
            <a class="button button-primary" href="#about">Per saperne di più</a>
          </span>
          <span class="banner-button-2 block inline-block-m pad-top-5 pad-5-m">
            <a class="button button-secondary" href="https://personal.directfxclientportal.com/Registration/Main/FirstStep?camp=486">APRIRE UN ACCOUNT</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-block" id="about">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">Sui Direct Derivatives</span>
        <span class="big-heading">Chi siamo</span>
      </h2>
      <p class="lead">
        Direct Derivatives ha una cultura di squadra unica con tutti i professionisti che lavorano insieme in diversi paesi e zone temporali per fornire servizi senza soluzione di continuità e di esecuzione degli orologi agli investitori di tutto il mondo. Con uffici in Australia, Regno Unito, Seoul, Shenzhen e USA, I nostri 49 professionisti, di cui circa la metà sono professionisti senior, hanno una media di quasi 20 anni di esperienza rilevante. I nostri partner senior hanno un'esperienza industriale di oltre 40 anni che fornisce le conoscenze per operare con successo.
      </p>
      <p>
        I soci Direct Derivatives sono stati stabiliti per la prima volta nei mercati dei futures nel 2001, trasformando la società nel 2006 in una società di intermediazione globale Forex con sede in Australia, Direct FX Trading Pty Ltd, diventando un principale broker indipendente forex tra i più grandi volumi di negoziazione del mondo . La forza del nostro business australiano ci ha permesso di crescere rapidamente in Oriente e di creare un servizio globale integrato per i clienti, con tecnologia e base di supporto in Europa e nelle Americhe.
      </p>
      <p>
        I nostri clienti comprendono società di intermediazione in tutto il mondo, commercianti di forex retail, commercianti di merci, gestori patrimoniali, banche, CTA e hedge funds. I derivati ​​diretti forniscono anche scambi con i servizi di commercializzazione in futures e metalli Futures e opzioni.
      </p>
    </div>
  </div>
</div>

<div class="services-block" id="services">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">
          Multi-Asset Connectivity e brokeraggio
        </span>
        <span class="big-heading">
          Cosa facciamo
        </span>
      </h2>
      <p class="lead">
        Forniamo l'accesso diretto al mercato ospitante agli scambi in tutto il mondo. Siamo connessi a oltre settantacinque fonti di dati di mercato e più di quaranta scambi per il commercio elettronico. Acquista lateralmente o vendere, forex o futures, azioni o energia, stranieri o domestici, ti connettiamo ai mercati per prezzi competitivi e con una soluzione completa per il margine di finanziamento e cross trading all'interno di classi di attività.
      </p>
      <ul class="service-list pad-top-20 row-m">
        <li class="col-1-2-m service-item handyman">
          <h3 class="service-item-heading">Futures e opzioni</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Commercializzare il CME, ICE o qualsiasi altro scambio di materie prime futures. Lo scambio commerciale elenca Gold, petrolio greggio, metalli e prodotti agricoli.
          </p>
        </li>
        <li class="col-1-2-m service-item building">
          <h3 class="service-item-heading">Titoli e azioni</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Forniamo l'accesso diretto al mercato a vari scambi di azioni in tutto il mondo, tra cui NYSE, Nasdaq, LSE, Bovespa, Hong Kong, ASX e altro ancora. Azioni commerciali e ETF in qualsiasi scambio.
          </p>
        </li>
        <li class="col-1-2-m service-item home-maintenance">
          <h3 class="service-item-heading">Forex e CFDs</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Il commercio sul tuo cellulare o computer desktop utilizzando MT4 o qualsiasi altra piattaforma. Segui la tua EA preferita o seleziona un gestore di account MAM. Spread competitivi su 55+ paia.
          </p>
        </li>
        <li class="col-1-2-m service-item custom-jobs">
          <h3 class="service-item-heading">ETFs</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Abbiamo un account esclusivo per i risparmiatori per la creazione di portafogli ETF. ETF di iShares Core (fondi scambiati in cambio) sono un modo economico e conveniente per contribuire a creare una solida base per un portafoglio di pensionamento. Seleziona un portafoglio alla tua tolleranza al rischio.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="work-block" id="work">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">
          Una soluzione per ogni livello di rischio e profilo degli investitori
        </span>
        <span class="big-heading">
          Chi siamo
        </span>
      </h2>
      <p class="lead">
        Il nostro business si basa su 4 pilastri: accesso al mercato, esecuzione ad alta velocità, mantenimento sicuro delle risorse e gestione dei rischi. Seleziona il tuo profilo per ulteriori informazioni:
      </p>
    </div>
    <ul class="work-list pad-top-20 row-m">
      <li class="col-4-m work-list-item">
        <a href="/Individual.pdf" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Ulteriori informazioni sull'accesso globale e sulla sicurezza degli asset</span>
            <span class="work-heading-big">Investitori individuali</span>
          </span>
          <img src="../assets/work-1.jpg" alt="Work Item 1">
        </a>
      </li>
      <li class="col-4-m work-list-item">
        <a href="/Intermediaries.pdf" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Un unico team dedicato di marketing e supporto</span>
            <span class="work-heading-big">Intermediari</span>
          </span>
          <img src="../assets/work-2.jpg" alt="Work Item 2">
        </a>
      </li>
      <li class="col-4-m work-list-item">
        <a href="/Institutional.pdf" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Minori costi di esecuzione con tecnologia superiore</span>
            <span class="work-heading-big">Instituzionali &amp; Corporativi</span>
          </span>
          <img src="../assets/work-3.jpg" alt="Work Item 3">
        </a>
      </li>
    </ul>
    <div class="pad-top-30-m pad-bottom-20 text-center">
      <a class="button button-outline" href="https://personal.directfxclientportal.com/Registration/Main/FirstStep?camp=486?" target="_blank">APRIRE UN ACCOUNT</a>
    </div>
  </div>
</div>

<div class="testimonial-block" id="clients">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading small-heading-secondary">
          Una vasta gamma di piattaforme professionali per il controllo completo dei tuoi negozi
        </span>
        <span class="big-heading big-heading-secondary">
          Plattaforme
        </span>
      </h2>
      <div class="testimonial-list clear-m">
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-1" checked>
        <label class="testimonial-tab testimonial-tab-1" for="testimonial-1">
          <span class="sr">Testimonial 1</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            <img src="../assets/platform1.png" alt="MetaTrader" width="100"><br>
            Scarica MetaTrader 4 o 5 per ricevere lo strumento più potente e conveniente per l'analisi tecnica e la negoziazione nei mercati. Durante il primo lancio, verrà richiesto di aprire un account demo gratuito che consente di verificare tutte le funzionalità della piattaforma di trading. Clicca qui: <a href="https://www.metatrader4.com/en/download">MetaTrader4</a>
          </p>
          <cite class="clear">
            
            <div class="testimonial-author">
              <span class="testimonial-name block">MetaTrader 4 e MetaTrader 5</span>
              <span class="testimonial-status block">Disponibile per PC, iOS e Android</span>
            </div>
          </cite>
        </blockquote>
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-2">
        <label class="testimonial-tab testimonial-tab-2" for="testimonial-2">
          <span class="sr">Testimonial 2</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            <img src="../assets/platform2.png" alt="CQG" width="100"><br>
            Direct Derivatives offre ai clienti la possibilità di scambiare i mercati dei futures e delle opzioni attraverso CQG Trader, Client Integrated e QTrader brand new. CQG è uno dei fornitori leader del settore e dei fornitori di software per il trading. Commercio di CQG M, Trader, QTrader o Client Integrated. Per saperne di più andare a <a href="www.cqg.com">CQG.com</a>
          </p>
          <cite class="clear">
            
            <div class="testimonial-author">
              <span class="testimonial-name block">CQG</span>
              <span class="testimonial-status block"> La piattaforma per il professionista.</span>
            </div>
          </cite>
        </blockquote>
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-3">
        <label class="testimonial-tab testimonial-tab-3" for="testimonial-3">
          <span class="sr">Testimonial 3</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            <img src="../assets/platform3.png" alt="netdania" width="100"><br>
            Trasformare il tuo dispositivo mobile nel tuo assistente commerciale personale e ricevere l'avviso ogni volta che è il momento di entrare o uscire dal mercato. Creare script complessi utilizzando combinazioni di riconoscimento di pattern e studi avanzati. Non sono necessarie abilità di programmazione. Condividi le tue strategie con altri commercianti o sfruttate gli script di rete incorporati. Migliaia di stock e indici in tempo reale. Questa applicazione fornisce un'esperienza di trading senza precedenti e diventerà presto la tua applicazione di trading preferita.
          </p>
          <cite class="clear">
            
            <div class="testimonial-author">
              <span class="testimonial-name block">NetDania</span>
              <span class="testimonial-status block">NetDania Forex e titoli - Forex e CFD Trading App # 1 del mondo</span>
            </div>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="contact-block pad-top-40 pad-bottom-40 pad-top-60-m pad-bottom-60-m" id="contact">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading small-heading-secondary">
          10:00p GMT-10:00p GMT S-F
        </span>
        <span class="big-heading big-heading-secondary">
          Supporto
        </span>
      </h2>
      <div class="row-l contact-row">
        <div class="contact-column">
          <ul class="contact-list pad-bottom-15">
            <li class="contact-icon contact-icon-location">Level 11, Suite 2 10 Bridge Street. Sydney, NSW 2000, Australia</li>
            <li class="contact-icon contact-icon-phone">+612 8038 5093</li>
            <li class="contact-icon contact-icon-email"><a href="mailto:support@directfx.com?subject=General%20Enquiry">support@directfx.com</a></li>
          </ul>
          <div class="map" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.019862592861!2d151.20596271521015!3d-33.86337898065772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae41883bc8ff%3A0x7357f171de032b27!2s2%2F10+Bridge+St%2C+Sydney+NSW+2000%2C+Australia!5e0!3m2!1sen!2suk!4v1494487284994" width="100%" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="contact-column pad-top-30 pad-top-0-l">
          <h3 class="fs-4 strong">Richiesta online</h3>
          <p class="contact-copy">
            Per tutte le richieste, il supporto per posta elettronica o fare clic sul pulsante di domanda nell'angolo destro.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="white pad-top-40 pad-bottom-40 pad-top-60-m">
    <div class="clear-m">
      <div class="container">
        <div class="row-l">
          <div class="col-4-l">
            <div class="col-10 no-float no-padding">
              <h3 class="footer-heading">Direct Derivatives</h3>
              <p class="footer-copy">
                Direct Derivatives si riferisce a Direct FX Trading Pty Ltd. Direct FX Trading Pty Ltd è una società australiana che è registrata con ASIC, ACN 120 189 424 e possiede il numero di licenza australiano dei servizi finanziari 305539. AFS License solo autorità il licenziatario (Direct FX Trading Pty LTD ) Per svolgere un'attività di servizi finanziari in Australia, limitata a fornire i servizi finanziari coperti dalla licenza. La licenza AFS e la regolamentazione australiana si applicano solo ai servizi finanziari forniti solo agli investitori australiani.
              </p>
            </div>
          </div>
          <div class="col-4-l pad-top-20 pad-bottom-20 pad-top-0-l pad-bottom-0-l">
            <div class="col-10-l no-float">
              <h3 class="footer-heading">10:00p GMT-10:00p GMT S-F</h3>
              <ul class="contact-list footer-contact-list">
                <li class="contact-icon contact-icon-location">Level 11, Suite 2 10 Bridge Street. Sydney, NSW 2000, Australia</li>
                <li class="contact-icon contact-icon-phone">+612 8038 5093</li>
                <li class="contact-icon contact-icon-email"><a href="mailto:support@directfx.com?subject=General%20Enquiry">support@directfx.com</a></li>
                <br>
                <li class"contact-icon contact-icon-email"><a href="/DFXPDS_SEPT2016.pdf">Dichiarazione di informazioni sul prodotto</a></li>
                <li class"contact-icon contact-icon-email"><a href="/DFX_FSG_2016.pdf">Guida al servizio finanziario</a></li>
                <li class"contact-icon contact-icon-email"><a href="/TERMS-and-CONDITIONS_DFXT-2016.pdf">Termini e condizioni del cliente</a></li>
              </ul>
              <ul class="social-list">
                <li class="social-list-item">
                  <a class="social-item social-facebook" title="Facebook" href="#">
                    <span class="sr">Facebook</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-twitter" title="Twitter" href="#">
                    <span class="sr">Twitter</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-instagram" title="Instagram" href="#">
                    <span class="sr">Instagram</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-pinterest" title="Pinterest" href="#">
                    <span class="sr">Pinterest</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-youtube" title="Youtube" href="#">
                    <span class="sr">YouTube</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-linkedin" title="Linkedin" href="#">
                    <span class="sr">LinkedIn</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-4-l">
            <div class="col-10-l no-float">
              <h3 class="footer-heading">Questo sito web in altre lingue:</h3>
              <ul class="languages">
                <li><a href="arabic.html">العَرَبِيَّة‎‎,</a></li>
                <li><a href="chinese.html">中文</a></li>
                <li><a href="german.html">Deutsch</a></li>
                <li><a href="spanish.html">Español</a></li>
                <li><a href="french.html">Français</a></li>
                <li><a href="italian.html">Italiano</a></li>
                <li><a href="portuguese.html">Português</a></li>
                <li><a href="russian.html">русский</a></li>
              </ul>
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-inner" id="footer">
    <div class="container">
      <div class="clear-m">
        <div class="left-m">
          <p>Copyright 2017. Direct FX Trading PTY LTD | ACN 120 189 424 | AFSL No. 305539 | All Rights Reserved.</p>
        </div>
        <div class="right-m">
          <ul class="footer-inline-list">
           <li class="footer-inline-list-item">
              <a href="#about">Chi siamo</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#services">Cosa facciamo</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#work">Chi serviamo</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#clients">Piattaforme</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#contact">Contatto</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/vendor/webfontloader.js"></script>
<script src="js/default.js"></script>

<!-- BEGIN GROOVE WIDGET CODE -->
<script id="grv-widget">
  /*<![CDATA[*/
  window.groove = window.groove || {}; groove.widget = function(){ groove._widgetQueue.push(Array.prototype.slice.call(arguments)); }; groove._widgetQueue = [];
  groove.widget('setWidgetId', '68d97c5e-3d0f-6655-8f6d-76074a9e4759');
  !function(g,r,v){var a,n,c=r.createElement("iframe");(c.frameElement||c).style.cssText="width: 0; height: 0; border: 0",c.title="",c.role="presentation",c.src="javascript:false",r.body.appendChild(c);try{a=c.contentWindow.document}catch(i){n=r.domain;var b=["javascript:document.write('<he","ad><scri","pt>document.domain=","\"",n,"\";</scri","pt></he","ad><bo","dy></bo","dy>')"];c.src=b.join(""),a=c.contentWindow.document}var d="https:"==r.location.protocol?"https://":"http://",s="http://groove-widget-production.s3.amazonaws.com".replace("http://",d);c.className="grv-widget-tag",a.open()._l=function(){n&&(this.domain=n);var t=this.createElement("script");t.type="text/javascript",t.charset="utf-8",t.async=!0,t.src=s+"/loader.js",this.body.appendChild(t)};var p=["<bo",'dy onload="document._l();">'];a.write(p.join("")),a.close()}(window,document)
  /*]]>*/
</script>
<!-- END GROOVE WIDGET CODE -->

</body>
</html>