<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Прямые деривативы - многоагентные брокерские услуги и технологии</title>

  <meta name="description" content="">
  <meta name="theme-color" content="#ffc13b">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="../assets/favicon.png">
  <link rel="apple-touch-icon" sizes="57x57" href="../assets/apple-touch-icon.png">
  <link rel="apple-touch-icon" sizes="72x72" href="../assets/apple-touch-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="114x114" href="../assets/apple-touch-icon-114x114.png">

  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

<div class="banner">
  <div class="banner-inner">
    <div class="header">
      <div class="container">
        <div class="clear-m">
          <a class="logo left-m" href="/"><span class="sr">Direct Derivatives</span></a>
          <div class="navigation right-m">
            <ul class="menu">
              <li class="menu-item">
                <a href="#about">КТО МЫ</a>
              </li>
              <li class="menu-item">
                <a href="#services">ЧТО МЫ ДЕЛАЕМ</a>
              </li>
              <li class="menu-item">
                <a href="#work">КТО МЫ СЛУЖАЕМ</a>
              </li>
              <li class="menu-item">
                <a href="#clients">ПЛАТФОРМЫ</a>
              </li>
              <li class="menu-item">
                <a href="https://personal.directfxclientportal.com/Account/LogOn">LOGIN</a>
              </li>
              <li class="menu-item">
                <a href="#contact">ПОДДЕРЖКА</a>
              </li>
              <li class="menu-item">
                <a href="#footer">🌐[RU]</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="container pad-top-30 pad-top-60-m">
      <div class="pad-top-50-m pad-bottom-50-m">
        <h1 class="yellow">
          <span class="banner-heading-text-1">ПРЯМОЙ </span>
          <span class="banner-heading-text-2">ДОСТУП </span>
          <span class="banner-heading-text-3">К РЫНКАМ.</span>
        </h1>
        <p class="fs-4 no-margin pad-top-10 pad-bottom-40 col-10-m no-float-m center-m col-7-l no-float-l center-l banner-text-1">
           Прямой доступ к 75 + биржам и пулам ликвидности у вас под рукой.
        </p>
        <div>
          <span class="banner-button-1 block inline-block-m pad-5-m">
            <a class="button button-primary" href="#about">Выучить больше</a>
          </span>
          <span class="banner-button-2 block inline-block-m pad-top-5 pad-5-m">
            <a class="button button-secondary" href="https://personal.directfxclientportal.com/Registration/Main/FirstStep?camp=486">ОТКРОЙ СЧЕТ</a>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="about-block" id="about">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">О прямых производных</span>
        <span class="big-heading">Кто мы</span>
      </h2>
      <p class="lead">
        Direct Derivatives имеет уникальную командную культуру со всеми профессионалами, работающими вместе в разных странах и часовых поясах, чтобы предоставлять бесшовные и круглосуточные услуги исполнения инвесторам по всему миру. Имея офисы в Австралии, Соединенном Королевстве, Сеуле, Шэньчжэне и США, наши 49 специалистов, около половины из которых являются старшими специалистами, имеют в среднем почти 20 лет соответствующего опыта. Наши старшие партнеры имеют более 40 лет опыта работы в отрасли, предоставляя знания для успешной работы.
      </p>
      <p>
        Партнеры по прямым производным финансовым инструментам впервые появились в маркерах фьючерсов в 2001 году, а затем преобразовали компанию в 2006 году в брокерскую фирму Global Forex со штаб-квартирой в Австралии, Direct FX Trading Pty Ltd, став ведущим независимым брокером forex и одним из крупнейших в мире объемов торговли , Сила нашего австралийского бизнеса позволила нам быстро расти на Востоке и создавать интегрированные глобальные услуги для клиентов, с технологией и поддержкой в ​​Европе и Америке.
      </p>
      <p>
        Наши клиенты включают брокерские компании по всему миру, розничные форекс-трейдеры, торговцы сырьевыми товарами, управляющие активами, банки, CTA и хедж-фонды. Прямые деривативы также предоставляют услуги по обмену информацией о рыночных услугах в валютных и металлических фьючерсах и опционах.
      </p>
    </div>
  </div>
</div>

<div class="services-block" id="services">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">
          Подключение к нескольким объектам и брокерские услуги
        </span>
        <span class="big-heading">
          Что мы делаем
        </span>
      </h2>
      <p class="lead">
        Мы предоставляем Hosted Direct Access на биржах по всему миру. Мы подключены более чем к семидесяти пяти источникам рыночных данных и более чем к 40 биржам для электронной торговли. Покупайте боковую или продающую сторону, forex или фьючерсы, акции или энергию, иностранные или отечественные, мы соединяем вас с рынками по конкурентным ставкам и с полным решением для маржирования финансирования и кросс-трейдинга в классах активов.
      </p>
      <ul class="service-list pad-top-20 row-m">
        <li class="col-1-2-m service-item handyman">
          <h3 class="service-item-heading">Фьючерсы и опционы</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Торговля CME, ICE или любой другой фьючерсной биржей. В товарной бирже представлены золото, нефть, металлы и сельскохозяйственные товары.
          </p>
        </li>
        <li class="col-1-2-m service-item building">
          <h3 class="service-item-heading">Акции и доли</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Мы предоставляем прямой доступ к нескольким биржам акций по всему миру, включая NYSE, Nasdaq, LSE, Bovespa, Гонконг, ASX и другие. Торговые акции и ETF в любом обмене.
          </p>
        </li>
        <li class="col-1-2-m service-item home-maintenance">
          <h3 class="service-item-heading">Форекс и CFD</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            Торгуйте на своем мобильном или настольном компьютере, используя MT4 или любую другую платформу. Следуйте за своим любимым советником или выберите менеджера аккаунта MAM. Конкурентные спрэды по 55+ парам.
          </p>
        </li>
        <li class="col-1-2-m service-item custom-jobs">
          <h3 class="service-item-heading">iShares от BlackRock ™</h3>
          <p class="fs-6 col-11-m no-float-m no-padding-m">
            У нас есть эксклюзивный счет для вкладчиков для создания портфелей ЕФО. IShares Core ETF (биржевые фонды) - это недорогой и эффективный с налоговой точки зрения способ помочь создать прочную основу для пенсионного портфеля. Выберите портфель с учетом допустимого риска.
          </p>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="work-block" id="work">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading">
          Решение для каждого уровня риска и профиля инвестора
        </span>
        <span class="big-heading">
          Кто мы обслуживаем
        </span>
      </h2>
      <p class="lead">
        Наш бизнес основан на 4 компонентах: доступ на рынок, высокоскоростное выполнение, хранение активов и управление рисками. Выберите свой профиль для получения дополнительной информации:
      </p>
    </div>
    <ul class="work-list pad-top-20 row-m">
      <li class="col-4-m work-list-item">
        <a href="/Individual.pdf" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Подробнее о глобальном доступе и безопасности активов</span>
            <span class="work-heading-big">Индивидуальные инвесторы/span>
          </span>
          <img src="../assets/work-1.jpg" alt="Work Item 1">
        </a>
      </li>
      <li class="col-4-m work-list-item">
        <a href="/Intermediaries.pdf" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Уникальная специализированная команда по маркетингу и поддержке</span>
            <span class="work-heading-big">Посредники</span>
          </span>
          <img src="../assets/work-2.jpg" alt="Work Item 2">
        </a>
      </li>
      <li class="col-4-m work-list-item">
        <a href="/Institutional.pdf" class="work-item">
          <span class="work-item-inner">
            <span class="work-heading-small">Снижение затрат на выполнение с использованием передовых технологий</span>
            <span class="work-heading-big">Инвесторы института</span>
          </span>
          <img src="../assets/work-3.jpg" alt="Work Item 3">
        </a>
      </li>
    </ul>
    <div class="pad-top-30-m pad-bottom-20 text-center">
      <a class="button button-outline" href="https://personal.directfxclientportal.com/Registration/Main/FirstStep?camp=486?" target="_blank">ОТКРОЙ СЧЕТ</a>
    </div>
  </div>
</div>

<div class="testimonial-block" id="clients">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading small-heading-secondary">
          Широкий спектр профессиональных платформ для полного контроля ваших сделок
        </span>
        <span class="big-heading big-heading-secondary">
          Торговая платформа
        </span>
      </h2>
      <div class="testimonial-list clear-m">
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-1" checked>
        <label class="testimonial-tab testimonial-tab-1" for="testimonial-1">
          <span class="sr">Testimonial 1</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            <img src="../assets/platform1.png" alt="MetaTrader" width="100"><br>
            Скачайте MetaTrader 4 или 5, чтобы получить самый мощный и удобный инструмент для технического анализа и торговли на рынках. Во время первого запуска вам будет предложено открыть бесплатный демонстрационный счет, позволяющий проверить все функции торговой платформы. Кликните сюда: <a href="https://www.metatrader4.com/en/download">MetaTrader4</a>
          </p>
          <cite class="clear">
            
            <div class="testimonial-author">
              <span class="testimonial-name block">MetaTrader 4, MetaTrader 5</span>
              <span class="testimonial-status block">Доступно для ПК, iOS и Android</span>
            </div>
          </cite>
        </blockquote>
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-2">
        <label class="testimonial-tab testimonial-tab-2" for="testimonial-2">
          <span class="sr">Testimonial 2</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            <img src="../assets/platform2.png" alt="CQG" width="100"><br>
            Прямые деривативы предлагают клиентам возможность торговать на фьючерсных и опционных рынках через CQG Trader, Integrated Client и совершенно новый QTrader. CQG является одним из ведущих в отрасли поставщиков данных и программного обеспечения для торговли. Торговля от CQG M, Trader, QTrader или интегрированного клиента. Чтобы узнать больше, перейдите по ссылке. <a href="www.cqg.com">CQG.com</a>
          </p>
          <cite class="clear">
            
            <div class="testimonial-author">
              <span class="testimonial-name block">CQG</span>
              <span class="testimonial-status block">Платформа для профессионального трейдера.</span>
            </div>
          </cite>
        </blockquote>
        <input class="testimonial-checkbox" type="radio" name="testimonials" id="testimonial-3">
        <label class="testimonial-tab testimonial-tab-3" for="testimonial-3">
          <span class="sr">Testimonial 3</span>
        </label>
        <blockquote class="testimonial-item">
          <p>
            <img src="../assets/platform3.png" alt="netdania" width="100"><br>
            Превратите свое мобильное устройство в своего личного помощника по торговле и получите предупреждение, когда придет время выйти на рынок или выйти из него. Создавайте сложные сценарии, используя комбинации распознавания образов и расширенные исследования. Никаких навыков программирования не требуется. Поделитесь своими стратегиями с другими трейдерами или воспользуйтесь встроенными сетевыми скриптами. Тысячи акций и индексов в реальном времени. Это приложение обеспечивает беспрецедентный опыт торговли и скоро станет вашим любимым торговым приложением.
          </p>
          <cite class="clear">
            
            <div class="testimonial-author">
              <span class="testimonial-name block">NetDania</span>
              <span class="testimonial-status block">Forex и акции NetDania - первое в мире приложение для торговли на рынке Forex и CFD</span>
            </div>
          </cite>
        </blockquote>
      </div>
    </div>
  </div>
</div>

<div class="contact-block pad-top-40 pad-bottom-40 pad-top-60-m pad-bottom-60-m" id="contact">
  <div class="container">
    <div class="col-11-m no-float-m center-m col-9-l no-float-l center-l">
      <h2 class="heading pad-bottom-15">
        <span class="small-heading small-heading-secondary">
          10:00p GMT-10:00p GMT S-F
        </span>
        <span class="big-heading big-heading-secondary">
          Контактная поддержка
        </span>
      </h2>
      <div class="row-l contact-row">
        <div class="contact-column">
          <ul class="contact-list pad-bottom-15">
            <li class="contact-icon contact-icon-location">Level 11, Suite 2 10 Bridge Street. Sydney, NSW 2000, Australia</li>
            <li class="contact-icon contact-icon-phone">+612 8038 5093</li>
            <li class="contact-icon contact-icon-email"><a href="mailto:support@directfx.com?subject=General%20Enquiry">support@directfx.com</a></li>
          </ul>
          <div class="map" id="map">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3313.019862592861!2d151.20596271521015!3d-33.86337898065772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6b12ae41883bc8ff%3A0x7357f171de032b27!2s2%2F10+Bridge+St%2C+Sydney+NSW+2000%2C+Australia!5e0!3m2!1sen!2suk!4v1494487284994" width="100%" height="520" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="contact-column pad-top-30 pad-top-0-l">
          <h3 class="fs-4 strong">Интернет-опрос</h3>
          <p class="contact-copy">
            По всем вопросам обращайтесь в службу поддержки по электронной почте или нажмите кнопку с вопросительным знаком в правом углу.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="footer">
  <div class="white pad-top-40 pad-bottom-40 pad-top-60-m">
    <div class="clear-m">
      <div class="container">
        <div class="row-l">
          <div class="col-4-l">
            <div class="col-10 no-float no-padding">
              <h3 class="footer-heading">О выставке Direct Derivatives</h3>
              <p class="footer-copy">
                Прямые деривативы относятся к Direct FX Trading Pty Ltd. Direct FX Trading Pty Ltd - австралийская компания, зарегистрированная в ASIC, ACN 120 189 424 и обладающая австралийской лицензией финансовых услуг номер 305539. AFS лицензирует только полномочия лицензиата (Direct FX Trading PTY LTD ) Для ведения бизнеса финансовых услуг в Австралии, ограничиваясь предоставлением финансовых услуг, охватываемых лицензией. Лицензия AFS и австралийское регулирование применяются только к финансовым услугам, предоставляемым только австралийским инвесторам.
              </p>
            </div>
          </div>
          <div class="col-4-l pad-top-20 pad-bottom-20 pad-top-0-l pad-bottom-0-l">
            <div class="col-10-l no-float">
              <h3 class="footer-heading">10:00p GMT-10:00p GMT S-F</h3>
              <ul class="contact-list footer-contact-list">
                <li class="contact-icon contact-icon-location">Level 11, Suite 2 10 Bridge Street. Sydney, NSW 2000, Australia</li>
                <li class="contact-icon contact-icon-phone">+612 8038 5093</li>
                <li class="contact-icon contact-icon-email"><a href="mailto:support@directfx.com?subject=General%20Enquiry">support@directfx.com</a></li>
                <br>
                <li class"contact-icon contact-icon-email"><a href="/DFXPDS_SEPT2016.pdf">Заявление о раскрытии информации о продукте</a></li>
                <li class"contact-icon contact-icon-email"><a href="/DFX_FSG_2016.pdf">Руководство по финансовым услугам</a></li>
                <li class"contact-icon contact-icon-email"><a href="/TERMS-and-CONDITIONS_DFXT-2016.pdf">Клиентские условия</a></li>
              </ul>
              <ul class="social-list">
                <li class="social-list-item">
                  <a class="social-item social-facebook" title="Facebook" href="#">
                    <span class="sr">Facebook</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-twitter" title="Twitter" href="#">
                    <span class="sr">Twitter</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-instagram" title="Instagram" href="#">
                    <span class="sr">Instagram</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-pinterest" title="Pinterest" href="#">
                    <span class="sr">Pinterest</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-youtube" title="Youtube" href="#">
                    <span class="sr">YouTube</span>
                  </a>
                </li>
                <li class="social-list-item">
                  <a class="social-item social-linkedin" title="Linkedin" href="#">
                    <span class="sr">LinkedIn</span>
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-4-l">
            <div class="col-10-l no-float">
              <h3 class="footer-heading">Этот сайт на других языках:</h3>
              <ul class="languages">
                <li><a href="arabic.html">العَرَبِيَّة‎‎,</a></li>
                <li><a href="chinese.html">中文</a></li>
                <li><a href="german.html">Deutsch</a></li>
                <li><a href="spanish.html">Español</a></li>
                <li><a href="french.html">Français</a></li>
                <li><a href="italian.html">Italiano</a></li>
                <li><a href="portuguese.html">Português</a></li>
                <li><a href="russian.html">русский</a></li>
              </ul>
              <p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-inner" id="footer">
    <div class="container">
      <div class="clear-m">
        <div class="left-m">
          <p>Copyright 2017. Direct FX Trading PTY LTD | ACN 120 189 424 | AFSL No. 305539 | All Rights Reserved.</p>
        </div>
        <div class="right-m">
          <ul class="footer-inline-list">
           <li class="footer-inline-list-item">
              <a href="#about">Кто мы</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#services">Что мы делаем</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#work">Кто мы обслуживаем</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#clients">платформы</a>
            </li>
            <li class="footer-inline-list-item">
              <a href="#contact">контакт</a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="js/vendor/webfontloader.js"></script>
<script src="js/default.js"></script>

<!-- BEGIN GROOVE WIDGET CODE -->
<script id="grv-widget">
  /*<![CDATA[*/
  window.groove = window.groove || {}; groove.widget = function(){ groove._widgetQueue.push(Array.prototype.slice.call(arguments)); }; groove._widgetQueue = [];
  groove.widget('setWidgetId', 'b60446c7-71ec-5788-a102-2b019f7fec3d');
  !function(g,r,v){var a,n,c=r.createElement("iframe");(c.frameElement||c).style.cssText="width: 0; height: 0; border: 0",c.title="",c.role="presentation",c.src="javascript:false",r.body.appendChild(c);try{a=c.contentWindow.document}catch(i){n=r.domain;var b=["javascript:document.write('<he","ad><scri","pt>document.domain=","\"",n,"\";</scri","pt></he","ad><bo","dy></bo","dy>')"];c.src=b.join(""),a=c.contentWindow.document}var d="https:"==r.location.protocol?"https://":"http://",s="http://groove-widget-production.s3.amazonaws.com".replace("http://",d);c.className="grv-widget-tag",a.open()._l=function(){n&&(this.domain=n);var t=this.createElement("script");t.type="text/javascript",t.charset="utf-8",t.async=!0,t.src=s+"/loader.js",this.body.appendChild(t)};var p=["<bo",'dy onload="document._l();">'];a.write(p.join("")),a.close()}(window,document)
  /*]]>*/
</script>
<!-- END GROOVE WIDGET CODE -->

</body>
</html>